/* styles go here */
fieldset > input:not(:last-child) {
  margin-bottom: 10px;
}

.margin {
  margin-top: 10px;
}

.mg {
  margin-top: 4px;
}

.mg2 {
  margin-top: 12px;
}

fieldset {
  margin-bottom: 20px;
}
